<!DOCTYPE html>
<html>
<head>
    <title>Lucky Pet Adoption</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="hero">
        <h1>🐾 Lucky Pet Adoption 🐾</h1>

        <p>
            Find your perfect furry friend and give them a loving home.
        </p>

        <img src="https://cdn-icons-png.flaticon.com/512/616/616408.png">
    </div>

    <div class="card">

        <a href="/pets">View Pets</a>

        <a href="/add_pet">Add Pet</a>

        <a href="/add_adopter">Add Adopter</a>

        <a href="/adopt_pet">Adopt Pet</a>

        <a href="/report">View Report</a>

    </div>

    <div class="footer">
        ❤️ Designed by Lucky
    </div>

</div>

</body>
</html>