<!DOCTYPE html>
<html>
<head>
    <title>Adoption Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>Adoption Report</h1>

<table border="1">

<tr>
    <th>Pet Name</th>
    <th>Breed</th>
    <th>Adopter</th>
    <th>City</th>
    <th>Date</th>
</tr>

{% for row in data %}
<tr>
    <td>{{ row[0] }}</td>
    <td>{{ row[1] }}</td>
    <td>{{ row[2] }}</td>
    <td>{{ row[3] }}</td>
    <td>{{ row[4] }}</td>
</tr>
{% endfor %}

</table>

</body>
</html>